<div infinite-scroll
     infiniteScrollContainer="mat-sidenav-content"
     infiniteScrollDistance="2"
     infiniteScrollThrottle="300"
     fromRoot="true"
     (scrolled)="onLoadMore()">
  <div class="columns is-marginless is-hidden-mobile">
    <div class="column has-text-right">
      <a routerLink="add" mat-raised-button color="accent">Add new application</a>
    </div>
  </div>
  <div class="columns is-marginless pm-content-spacer">
    <div class="column">
      <app-masonry class="columns"
                   [options]="{ transitionDuration: '0.5s', percentPosition: true, resize: true }">
        <app-masonry-item class="column is-3-fullhd is-4-desktop is-6-tablet">
          <a [routerLink]="['/walkers', 'add']">
            <app-add-application [user]="selectedUser$ | async"></app-add-application>
          </a>
        </app-masonry-item>
        <app-masonry-item class="column is-3-fullhd is-4-desktop is-6-tablet"
                          *ngFor="let item of list$ | async">
          <a [routerLink]="['/walkers', item.id]">
            <app-card [config]="getCardConfig(item)" (onShare)="onShare(item)"></app-card>
          </a>
        </app-masonry-item>
      </app-masonry>
    </div>
    <button mat-fab class="pm-fab" routerLink="add">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="columns is-marginless" [hidden]="!(list$ | appAsyncDelay | async)?.length">
    <div class="column has-text-centered" [hidden]="!canLoadMore">
      <button mat-raised-button (click)="onLoadMore()" i18n>Load more</button>
    </div>
  </div>
</div>
