<div *tdLoading="let item until !(pending$ | async); type:'circular'; mode:'indeterminate'; strategy:'overlay'; color:'primary'"
     class="columns is-marginless">
  <div class="column is-8 is-offset-2">
    <td-message [opened]="error$ | async" label="Error!" sublabel="We encountered an error. Please try again." color="warn" icon="error"></td-message>
    <div class="pm-top-image"></div>
    <form [formGroup]="form">
      <div class="columns is-vcentered">
        <div class="column is-4">
          <mat-form-field>
            <mat-select formControlName='type' [placeholder]="'TYPE' | translate">
              <mat-option [value]="LostFoundType.LOST">{{ LostFoundType.LOST | translate }}</mat-option>
              <mat-option [value]="LostFoundType.FOUND">{{ LostFoundType.FOUND | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <app-medium-editor formControlName="description"></app-medium-editor>
          <image-upload
            [buttonCaption]="'SELECT_IMAGES' | translate"
            dropBoxMessage=""
            preview="true"
            max="4"
            maxFileSize="1048576"
            (uploadFinished)="onUploadFinished($event)"
            (removed)="onImageRemove($event)"></image-upload>
        </div>
      </div>
      <div class="columns">
        <div class="column has-text-right">
          <button mat-raised-button type="submit" color="accent" [disabled]="!form.valid" (click)="create()">{{ 'ADD' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
