:host {
  min-height: 100%;
  display: block;
}

.pm-card-avatar {
  display: inline-block;
}

ngx-gallery-thumbnails {
  position: absolute;
}

.control {
  &:first-child {
    margin-left: auto;
  }
}
