<div class="columns is-marginless">
  <div class="column is-10 is-offset-1">
    <div class="columns">
      <div class="column is-9">
        <div class="pm-gallery-custom">
          <ngx-gallery [options]="galleryOptions"
                       [images]="(organization$ | async)?.images | appGalleryImages"
                       (previewOpen)="onPreviewOpen()"
                       (previewClose)="onPreviewClose()"></ngx-gallery>
        </div>
        <app-medium-editor [value]="(organization$ | async)?.description" readonly="true"></app-medium-editor>
        <div class="field is-grouped">
          <p class="control">
            <button mat-raised-button (click)="onShare()">{{ 'SHARE' | translate }}</button>
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
    </div>
  </div>
</div>
