<div class="columns is-marginless">
  <div class="column home-card home-card-adopt" routerLink="/adopt">
    <div class="home-card-overlay"></div>
    <div class="text">
      <span class="font-bold font-20 font-uppercase" i18n>Adopt</span><br><br>
      <span class="font-16"
            i18n>Hey! It's love from the first sight! I want to make some trouble at your apartment ;)</span>
    </div>
  </div>
  <div class="column home-card home-card-walkers" routerLink="/walkers">
    <div class="home-card-overlay"></div>
    <div class="text">
      <span class="font-bold font-20 font-uppercase" i18n>Walkers</span><br><br>
      <span class="font-16" i18n>Let's walk together! We'll be happy to introduce your pet with all the secret petty places of our city</span>
    </div>
  </div>
  <div class="column home-card home-card-locations" routerLink="/locations">
    <div class="home-card-overlay"></div>
    <div class="text">
      <span class="font-bold font-20 font-uppercase" i18n>Places</span><br><br>
      <span class="font-16" i18n>Find the pettiest places of our city. Pet shops, parks, clinics and much more</span>
    </div>
  </div>
</div>
<div class="columns is-marginless">
  <div class="column home-card home-card-lost-found" routerLink="/lost-found">
    <div class="home-card-overlay"></div>
    <div class="text">
      <span class="font-bold font-20 font-uppercase" i18n>Lost or found</span><br><br>
      <span class="font-16" i18n>If your pet is missing, or if you have found an animal, report it to us and we will do our best to ensure a happy reunion.</span>
    </div>
  </div>
  <div class="column home-card home-card-sitters" routerLink="/rooms">
    <div class="home-card-overlay"></div>
    <div class="text">
      <span class="font-bold font-20 font-uppercase" i18n>Sitters</span><br><br>
      <span class="font-16" i18n>Leaving for a vacation? Give your pet into trusted hands. Pet-lovers will honestly take care of them!</span>
    </div>
  </div>
</div>
