<!--<div class="columns">-->
  <!--<div class="column home-card home-card-adopt" routerLink="/adopt">-->
    <!--<div class="home-card-overlay"></div>-->
    <!--<span>-->
            <!--<span class="font-bold font-20 font-uppercase">{{'adopt' | translate}}</span><br><br>-->
            <!--<span class="font-16">{{'adopt_intro' | translate}}</span>-->
          <!--</span>-->
  <!--</div>-->
  <!--<div class="column home-card home-card-walkers" routerLink="/walkers">-->
    <!--<div class="home-card-overlay"></div>-->
    <!--<span>-->
            <!--<span class="font-bold font-20 font-uppercase">{{'walkers' | translate}}</span><br><br>-->
            <!--<span class="font-16">{{'walkers_intro' | translate}}</span>-->
          <!--</span>-->
  <!--</div>-->
  <!--<div class="column home-card home-card-locations" routerLink="/locations">-->
    <!--<div class="home-card-overlay"></div>-->
    <!--<span>-->
            <!--<span class="font-bold font-20 font-uppercase">{{'places' | translate}}</span><br><br>-->
            <!--<span class="font-16">{{'locations_intro' | translate}}</span>-->
          <!--</span>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="columns">-->
  <!--<div class="column home-card home-card-lost-found" routerLink="/lost-found">-->
    <!--<div class="home-card-overlay"></div>-->
    <!--<span>-->
          <!--<span class="font-bold font-20 font-uppercase">{{'lost_or_found' | translate}}</span><br><br>-->
          <!--<span class="font-16">{{'lost_or_found_intro' | translate}}</span>-->
        <!--</span>-->
  <!--</div>-->
  <!--<div class="column home-card home-card-sitters" routerLink="/rooms">-->
    <!--<div class="home-card-overlay"></div>-->
    <!--<span>-->
            <!--<span class="font-bold font-20 font-uppercase">{{'sitters' | translate}}</span><br><br>-->
            <!--<span class="font-16">{{'sitters_intro' | translate}}</span>-->
          <!--</span>-->
  <!--</div>-->
  <!--&lt;!&ndash;<div class="column home-card home-card-blog" routerLink="/blog">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="home-card-overlay"></div>&ndash;&gt;-->
  <!--&lt;!&ndash;<span>&ndash;&gt;-->
  <!--&lt;!&ndash;<span class="font-bold font-20 font-uppercase">{{'blog' | translate}}</span><br><br>&ndash;&gt;-->
  <!--&lt;!&ndash;<span class="font-16">{{'blog_intro' | translate}}</span>&ndash;&gt;-->
  <!--&lt;!&ndash;</span>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
