@import "../../scss/mixins";

.avatar {
  background-size: cover;
}

p {
  @include word-wrap;
}

mat-card-actions, mat-card-content, mat-card-subtitle, mat-card-title {
  padding: initial !important;
  margin-bottom: 10px;
}

mat-chip-list {
  margin-left: auto;
}
