<div class="columns is-marginless">
  <div class="column is-10 is-offset-1">
    <div class="columns">
      <div class="column is-3 has-text-centered">
        <app-user-details [user]="(lostFound$ | async)?.user"></app-user-details>
      </div>
      <div class="column is-9">
        <mat-chip-list>
          <mat-chip [color]="(lostFound$ | async)?.type === LostFoundType.FOUND ? 'accent' : 'warn'"
                    selected="true">{{(lostFound$ | async)?.type}}</mat-chip></mat-chip-list>
        <div class="clearfix"></div>
        <div class="pm-gallery-custom">
          <ngx-gallery [options]="galleryOptions"
                       [images]="(lostFound$ | async)?.images | appGalleryImages"
                       (previewOpen)="onPreviewOpen()"
                       (previewClose)="onPreviewClose()"></ngx-gallery>
        </div>
        <div class="notification" [innerHTML]="(lostFound$ | async)?.description | appSafeHtml"></div>
        <div class="field is-grouped">
          <p class="control">
            <button mat-raised-button (click)="onShare()" i18n>Share</button>
          </p>
          <p class="control" *ngIf="(lostFound$ | async)?.isOwner">
            <button [routerLink]="['/lost-found', lostFound.id, 'edit']" mat-raised-button i18n>Edit</button>
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
    </div>
  </div>
</div>
