:host {
  min-height: 100%;
  display: block;
}

.pm-card-avatar {
  display: inline-block;
}

ngx-gallery-thumbnails {
  position: absolute;
}

.control {
  &:first-child {
    margin-left: auto;
  }
}

.notification {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

mat-chip-list {
  margin-bottom: 10px;
  display: block;
  float: right;
}
