@import '../../../shared/scss/mixins';

td-search-box {
  display: none;
  @include tablet {
    display: block;
  }
}

.pm-spacer {
  display: block;
  @include tablet {
    display: none;
  }
}

/deep/ .pm-language .mat-select-trigger {
  width: 60px;
  font-size: 14px;
}

/deep/ .pm-language .mat-select-value {
  color: #ffffff;
}

/deep/ .pm-language .mat-select-arrow {
  color: #ffffff;
}
