@import '../../../../scss/mixins';
mat-sidenav {
  width: 250px;
}

.app-body {
  height: calc(100vh - 65px);
  height: -webkit-calc(100vh - 65px);
  height: -moz-calc(100vh - 65px);
  overflow-x: hidden;
}

.disabled {
  display: block;
  opacity: 0.5;
}
