<div *tdLoading="let item until !(pending$ | async); type:'circular'; mode:'indeterminate'; strategy:'overlay'; color:'primary'"
     class="columns is-marginless">
  <div class="column is-8 is-offset-2">
    <td-message [opened]="error$ | async" label="Error!" sublabel="We encountered an error. Please try again." color="warn" icon="error"></td-message>
    <div class="pm-top-image"></div>
    <form [formGroup]="form">
      <div class="columns is-vcentered">
        <div class="column is-4">
          <mat-form-field>
            <input formControlName='price' matInput i18n-placeholder type="number" placeholder="Daily price" min="0"/>
          </mat-form-field>
        </div>
      </div>
      <app-medium-editor formControlName="description"></app-medium-editor>
      <div class="columns">
        <div class="column has-text-right">
          <button mat-raised-button type="button" color="warn" i18n (click)="onDelete()">Delete</button>
          <button mat-raised-button type="submit" color="accent" [disabled]="!form.valid" i18n (click)="update()">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
