<div id="page-loader">
  <!--<div class="cssload-loader"></div>-->
  <div class="cssload-container">
    <div class="cssload-whirlpool"></div>
  </div>
</div>
<mat-progress-bar mode="indeterminate" [hidden]="!(xhrListener | async)"></mat-progress-bar>
<app-toolbar (toggleMenu)="toggleSidenav($event)">

</app-toolbar>
<!--<app-sidenav [open]="currentSideNavState"-->
             <!--(onClose)="closeSidenav()"-->
             <!--[mode]="sideNavMode">-->
  <!--<router-outlet></router-outlet>-->
<!--</app-sidenav>-->
