<div class="columns is-marginless">
  <div class="column">
    <ngx-masonry #masonry [options]="{ transitionDuration: '0.5s', percentPosition: true, resize: true }"
                 [useImagesLoaded]="true"
                 class="columns">
      <ngx-masonry-item class="column is-3-fullhd is-4-desktop is-6-tablet">
        <app-shared-card [config]="addCardConfig"></app-shared-card>
      </ngx-masonry-item>
      <ngx-masonry-item class="column is-3-fullhd is-4-desktop is-6-tablet" *ngFor="let item of list$ | async">
        <app-shared-card [config]="getCardConfig(item)"></app-shared-card>
      </ngx-masonry-item>
    </ngx-masonry>
  </div>
  <button mat-fab class="pm-fab" routerLink="add">
    <mat-icon>add</mat-icon>
  </button>
</div>
