@import '../../shared/scss/mixins';
@import '../../shared/scss/variables';

.pm-card-avatar {
  display: inline-block;
}

ngx-gallery-thumbnails {
  position: absolute;
}

.control {
  &:first-child {
    margin-left: auto;
  }
}

.notification {
  margin-bottom: .5rem;
  margin-top: .5rem;
}
