<div class="columns is-marginless">
  <div class="column is-10 is-offset-1">
    <div class="columns">
      <div class="column is-3 has-text-centered">
        <app-user-details [user]="(walker$ | async)?.user"></app-user-details>
      </div>
      <div class="column is-9">
        <p><i class="mdi mdi-cash"></i> {{(walker$ | async)?.price | number}} {{ 'AMD' | translate }}</p>
        <app-medium-editor [value]="(walker$ | async)?.description" readonly="true"></app-medium-editor>
        <div class="field is-grouped">
          <p class="control">
            <button mat-raised-button (click)="onShare()">{{ 'SHARE' | translate }}</button>
          </p>
          <p class="control" *ngIf="(walker$ | async)?.isOwner">
            <button [routerLink]="['/walkers', walker.id, 'edit']" mat-raised-button>{{ 'EDIT' | translate }}</button>
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
    </div>
  </div>
</div>
