@import '../../../../scss/mixins';
@import '../../../../scss/variables';

mat-sidenav {
  width: 300px;
  background-color: $lightest-gray !important;
  box-shadow: -10px 0 50px $light-gray;
}
mat-sidenav-container {
  @include calc(height, '100vh - 56px');
  @include desktop {
    @include calc(height, '100vh - 64px');
  }
}

.disabled {
  display: block;
  opacity: 0.5;
}

.change-user-sidenav {
  text-align: center;
}

/deep/ .change-user-sidenav .mat-select-value {
  color: inherit;
}

/deep/ .change-user-sidenav .mat-select-arrow {
  color: inherit;
}
